


.cover-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.overlay-params(@opacity-strength, @background-color) {
  .cover-div;
  content: '';
  opacity: @opacity-strength;
  z-index: 2;
  background-color: @background-color;
}


.hero-slider {
  padding: 0;
  position: relative;
  overflow: hidden;
  height: auto;
  margin-bottom: 20px;
}

.hero-slider {
  .background-image-holder.parallax-background {
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    img{
      max-width: 100%;
      height: auto;
      width: -webkit-fill-available;
    }
  }
}
#maincontent{
  .hero-slider {
    .background-image-holder.parallax-background {
      img{
        border-radius: 6px;
      }
    }

    }
}

.column.main {
  .hero-slider {
    .background-image-holder.parallax-background {
      border-radius: 6px;
    }
  }
}

.hero-slider .slides .overlay.action-link {
  height: auto;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.hero-slider .slides .overlay.action-link h1 {
  font-size: 38px;
  line-height: 56px;
  margin-bottom: 40px;
}


.hero-slider .flex-direction-nav a {
  color: rgba(0, 0, 0, 0);
  font-size: 0;
}


.flex-direction-nav a:before {
  top: 0 !important;
  bottom: 0 !important;
  font-size: 36px;
  left: 0 !important;
  right: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
}


.align-vertical.slider-text-and-link {
  position: absolute;
  min-width: 50%;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
}

.flex-control-nav {
  bottom: 25px !important;
}

@media all and (max-width: 1350px) {
  .flex-direction-nav {
    display: none !important;
  }
}

.hero-slider .slides div.overlay:before {
  /** .overlay-params(@opacity-strength: 0.3, @background-color: #fff); **/
}

.hero-slider .slides .overlay.action-link h2 {
  font-size: 32px;
  line-height: 40px;
  color: #0163a0;
}

.video-wrapper {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.video-wrapper video {
  width: 100%;
  top: 0px;
}

@media all and (max-width: 1500px) {
  .hero-slider {
    height: auto;
    margin-bottom: 20px;

    .slides .overlay.action-link {
      height: auto;
    }
  }
}

@media all and (max-width: 1400px) {
  .video-wrapper video {
    width: 110%;
  }

  .hero-slider {
    height: auto;
    margin-bottom: 20px;

    .slides .overlay.action-link {
      height: auto;
    }
  }
}

@media all and (max-width: 1200px) {
  .video-wrapper video {
    width: 130%;
  }

  .hero-slider {
    height: auto;
    margin-bottom: 20px;

    .slides .overlay.action-link {
      height: auto;
    }
  }
}

@media all and (max-width: 1000px) {
  .video-wrapper video {
    width: 150%;
  }

  .hero-slider {
    height: auto;
    margin-bottom: 20px;

    .slides .overlay.action-link {
      height: auto;
    }
  }
}

.amtheme-banner-item {
  .amtheme-wrapper-link {
    display: block;
    position: relative;
  }
}
.amtheme-banner {
  .content {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
    color: #0163a0;
    font-size: 45px;
    line-height: 41px;
    min-width: 60%;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-20%, -10%);
    transform: translate(-20%, -10%);
    text-shadow: 3px 0px 20px rgb(255, 255, 255, 0.9);
    span.info {
      font-size: 2.2rem;
    }
  }
}

.container.align-vertical.slider-text-and-link{
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  color: #0163a0;
  font-size: 45px;
  line-height: 41px;
  min-width: 60%;
  text-align: center;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-20%, -10%);
  transform: translate(-20%, -10%);
  text-shadow: 3px 0px 20px rgb(255, 255, 255, 0.9);
}

@media all and (max-width: 768px) {
  .hero-slider {
    height: auto;
    margin-bottom: 20px;

    .slides .overlay.action-link {
      height: auto;
    }
  }
}

@media all and (max-width: 425px) {
  .hero-slider {
    height: auto;
    margin-bottom: 20px;

    .slides .overlay.action-link {
      height: auto;
    }
  }
}


.hero-slider {
  .btn {
    background: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    min-width: 155px;
  }

  .btn:hover {
    background: none;
    color: #fff;
    border-color: #3498db;
    background-color: #3498db;
  }

  .btn-primary {
    border-radius: 25px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #3498db;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3498db;
  }

  .btn-primary.btn-filled {
    background: #3498db;
    color: #fff;
  }

  .btn-white {
    border-color: #fff;
    color: #fff;
  }

  .btn-white:hover {
    background: #fff;
    color: #333333;
    border-color: #fff;
  }

  .btn-white.btn-filled {
    background: #fff;
    color: #e74c3c;
  }
}

.amtheme-secondary-banner {
  .-carousel {
    .amtheme-images-carousel.amtheme-slick-slide {
      margin: 0;
      padding: 0px;
    }

    .amtheme-slide {
      margin: 0;

      img {
        border-radius: 6px
      }

      a {
        display: block;
      }
    }

    margin: 0 !important;
  }
}

@media (min-width: 768px) {
  .theme2 {
    .shared-banners {
      display: flex;
      gap: 20px;
      align-items: flex-end;
    }

    .amtheme-secondary-banner {
      .-carousel {
        max-width: calc(~'33% - 10px');
        margin: 0;

        * {
          margin: 0 !important;
          display: block;
        }
      }

      .-static {
        max-width: calc(~'66% - 10px');
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        * {
          margin: 0 !important;
        }
      }
    }
  }
}

ul.amtheme-images-carousel.amtheme-slick-slide {
  padding: 0px;
}

.amtheme-secondary-banner {
  justify-content: center;
  gap: 20px;

  .amtheme-banner.-static {
    .amtheme-banner-item {
      margin-bottom: 20px;
    }
  }
}

.amtheme-secondary-banner {
  .amtheme-image {
    display: flex;
    flex-direction: column;

    img {
      border-radius: 6px
    }
  }
}

.theme.theme2 {
  .amtheme-secondary-banner {
    .col-left {
      flex: 1
    }

    .col-right {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .shared-banners {
        display: flex;
        gap: 24px;

        * {
          height: 100%;
        }
      }
    }
  }
}

.theme.theme7 {
  .amtheme-banner.banners-in-row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.theme.theme8 {
  .amtheme-banner-item {
    width: 25%;
    margin: 0px;
  }

  .amtheme-secondary-banner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    .amtheme-banner .amtheme-slick-slider {
      height: auto;
    }
    .amtheme-banner.-carousel {
      width: 50%;
      margin: 0;
    }
  }
}

.amtheme-banner.banners-in-row {
  display: flex;
  gap: 20px;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .amtheme-banner-item {
    margin-bottom: 0 !important;
  }

  @media (max-width: 768px) {
    img {
      width: 100%;
    }
  }
}

.theme6 {
  @media (min-width: 500px) {
    .block-promo-wrapper.block-promo-3columns {
      display: flex;
      gap: 20px;
    }

    .block-promo-wrapper.block-promo-2columns {
      display: flex;
      gap: 20px;
    }
  }

  .content {

    min-width: 100%;
    display: block;

    .title {
      clear: both;

      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: normal;
      font-size: 18px;
      line-height: 18px;
      height: 18px;
      padding: 0px;
      margin: 0px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
    }

    .info {
      clear: both;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 18px;
      padding: 0px;
      margin: 0px;
      height: 18px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.theme.theme8{
  .slick-dots{
    bottom: 15px;
  }
  .amtheme-images-carousel .slick-slide{
    margin: 0 !important;
  }
  .amtheme-image{
    img{
      width: 100%;
    }
  }
  .amtheme-secondary-banner{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    @media(max-width: 768px){
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .amtheme-banner-item{
      width: 25%;
      margin: 0;
      @media(max-width: 768px){
        order: 1;
        width: calc(~"50% - 10px");
      }
      .amtheme-wrapper-link{
        line-height: 0;
      }
    }
    .amtheme-banner.-carousel{
      width: 50%;
      margin: 0;
      @media(max-width: 768px){
        width: 100%;
      }

      .amtheme-slick-slider{
        margin: 0;
      }
    }
  }
}

