<?php
if ($items = $block->getItems($block->getData('mobile'))) {
    ?>
    <section class="hero-slider">
        <div class="slides"
             data-mage-init='{"slickSlider":{
                "isOnMobile": true,
                "updateOnResize": true,
                "responsiveSettings": {
                    "responsive": [
                        {
                            "breakpoint": 768,
                            "settings": {
                                "slidesToShow":1,
                                "draggable": "true"
                            }
                        },
                        {
                            "breakpoint": 640,
                            "settings": {
                                "slidesToShow": 1,
                                "arrows": "false",
                                "draggable": "true"
                            }
                        },
                        {
                            "breakpoint": 480,
                            "settings": {
                                "slidesToShow": 1,
                                "arrows": "false",
                                "draggable": "true"
                            }
                        }
                    ]
                },
            "sliderOptions": {
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "infinite": true,
                "dots": false,
                "arrows": false,
                "autoplay": true,
                "autoplaySpeed": 3000
            }
        }}'>
            <?php foreach ($items as $video) {
                if (!$video['is_video']) continue;
                ?>
                <div class="overlay action-link" data-link="<?= $video['link']; ?>">
                    <div class="background-image-holder parallax-background">
                        <img class="background-image"
                             src="<?= $this->getViewFileUrl('Kowal_Banner::images/main-transparent.png'); ?>"
                             alt=""
                             width="1920"
                             height="760">
                    </div>

                    <div class="video-wrapper">
                        <video class="video" autoplay="" muted="" loop="">
                            <?php if (!empty($video['image'])) { ?>
                                <source type="video/mp4" src="<?= $video['image']; ?>"><?php } ?>

                        </video>
                    </div>

                    <div class="container align-vertical slider-text-and-link">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <?php if ($video['title']): ?>
                                    <h2 class="text-white"><?= $video['title']; ?></h2>
                                <?php endif ?>
                                <?php if ($video['button_text']): ?>
                                    <a target="<?= $video['target']; ?>" href="<?= $video['link']; ?>"
                                       class="btn btn-primary btn-white"><?= $video['button_text']; ?></a>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>

            <?php foreach ($items as $image) {
                if ($image['is_video']) continue;
                ?>
                <?php if (!empty($image['image'])) { ?>
                    <div class="overlay action-link" data-link="<?= $image['link']; ?>">
                        <a href="<?= $image['link']; ?>">
                            <img src="<?= $image['image']; ?>" alt="slider" width="<?= $image['width']; ?>" height="<?= $image['height']; ?>"/>
                        </a>
                        <?php if ($image['title']): ?>
                            <div class="container align-vertical slider-text-and-link" style="display: none;">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">

                                        <h2 class="text-white"
                                            style="font-size:<?= $image['title_font_size']; ?>px; "><?= $image['title']; ?></h2>
                                        <h3 class="text-description"><?= $image['description']; ?></h3>

                                        <?php if ($image['button_text']): ?>
                                            <a target="<?= $image['target']; ?>" href="<?= $image['link']; ?>"
                                               class="btn btn-primary btn-white"
                                               title="<?= $image['alternate']; ?>"><?= $image['button_text']; ?></a>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                <?php } ?>
            <?php } ?>
        </div>
    </section>

    <script>
        require([
            'jquery',
            'flexsliderjs'
        ], function ($) {
            'use strict';
            $(document).ready(function () {

                $('.action-link').click(function () {
                    location.href = $(this).attr('data-link');
                });

                $('.container.align-vertical.slider-text-and-link').show();

            });
        });


    </script>

<?php } ?>
