<?php

$desktop_image = $block->getDesktopImage();
$mobile_image = $block->getMobileImage();
?>

<div class="container">
    <input type="radio" id="tab1" name="tab" checked>
    <label for="tab1"><i class="fa fa-code"></i> DESKTOP</label>
    <input type="radio" id="tab2" name="tab">
    <label for="tab2"><i class="fa fa-history"></i> MOBILE</label>

    <div class="line"></div>
    <div class="content-container">
        <div class="content" id="c1">
            <h3>Układ DESKTOP</h3>
            <p><img class="background-image" src="<?= $desktop_image; ?>" alt="Układ DESKTOP"></p>
        </div>
        <div class="content" id="c2">
            <h3>Układ MOBILE</h3>
            <p><img class="background-image" src="<?= $mobile_image; ?>" alt="Układ MOBILE"></p>
        </div>

    </div>
</div>


<style>

    body .container {
        width: 100%;
        display: block;
        margin-top: 20px;
    }

    body .container input {
        display: none;
    }

    body .container input:checked + label {
        background: #eee;
    }

    body .container input#tab1:checked ~ .line {
        left: 0%;
    }

    body .container input#tab1:checked ~ .content-container #c1 {
        opacity: 1;
    }

    body .container input#tab2:checked ~ .line {
        left: 25%;
    }

    body .container input#tab2:checked ~ .content-container #c2 {
        opacity: 1;
    }

    body .container input#tab3:checked ~ .line {
        left: 50%;
    }

    body .container input#tab3:checked ~ .content-container #c3 {
        opacity: 1;
    }

    body .container input#tab4:checked ~ .line {
        left: 75%;
    }

    body .container input#tab4:checked ~ .content-container #c4 {
        opacity: 1;
    }

    body .container label {
        display: inline-block;
        font-size: 16px;
        height: 36px;
        line-height: 36px;
        width: 25%;
        text-align: center;
        background: #f4f4f4;
        color: #555;
        position: relative;
        transition: 0.25s background ease;
        cursor: pointer;
    }

    body .container label::after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        display: block;
        background: #ccc;
        bottom: 0;
        opacity: 0;
        left: 0;
        transition: 0.25s ease;
    }

    body .container label:hover::after {
        opacity: 1;
    }

    body .container .content-container {
        background: #eee;
        position: relative;
        font-size: 16px;
        display: block;
        min-height: 1010px;
    }

    body .container .content-container .content {
        position: absolute;
        padding: 10px;
        width: 100%;
        opacity: 0;
        transition: 0.25s ease;
        color: #333;
        text-align: center;
    }

    body .container .content-container .content h3 {
        font-weight: 200;
        margin: 10px 0;
    }

    body .container .content-container .content p {
        margin: 10px 0;
    }

    body .container .content-container .content p, body .container .content-container .content i {
        font-size: 13px;
    }

    body .container .content-container .content p .background-image {
        max-height: 950px;
    }


</style>

