<div class="blocks-promo theme6">
    <div class="block-promo-wrapper block-promo-3columns">
        <a class="block-promo gear-row1-col1" href="{F1.link}">
            <span class="content">
                <h2 class="title" style="font-size: {F1.title_font_size}px; line-height:{F1.title_font_size}px; height: {F1.title_font_size}px;">{F1.title}</h2>
                <h3 class="info" style="font-size: {F1.title_font_size}px; line-height:{F1.title_font_size}px; height: {F1.title_font_size}px;">{F1.description}</h3>
                <span class="more button">{F1.button_text}</span>
            </span>
            <img src="{F1.image}" alt="{F1.alternate}" width="{F1.width}" height="{F1.height}">
        </a>
        <a class="block-promo gear-row1-col2" href="{F2.link}">
             <span class="content">
                <h2 class="title"  style="font-size: {F2.title_font_size}px; line-height:{F2.title_font_size}px; height: {F2.title_font_size}px;">{F2.title}</h2>
                <h3 class="info" style="font-size: {F2.title_font_size}px; line-height:{F2.title_font_size}px; height: {F2.title_font_size}px;">{F2.description}</h3>
                <span class="more button">{F2.button_text}</span>
            </span>
            <img src="{F2.image}"  alt="{F2.alternate}" width="{F2.width}" height="{F2.height}">
        </a>
        <a class="block-promo gear-row1-col3" href="{F3.link}">
            <span class="content">
                <h2 class="title"  style="font-size: {F3.title_font_size}px; line-height:{F3.title_font_size}px; height: {F3.title_font_size}px;">{F3.title}</h2>
                <h3 class="info" style="font-size: {F3.title_font_size}px; line-height:{F3.title_font_size}px; height: {F3.title_font_size}px;">{F3.description}</h3>
                <span class="more button">{F3.button_text}</span>
            </span>
            <img src="{F3.image}" alt="{F3.alternate}" width="{F3.width}" height="{F3.height}">
        </a>
    </div>
    <div class="block-promo-wrapper block-promo-2columns">
        <a class="block-promo gear-fitnes" href="{F4.link}">
            <span class="content">
                <h2 class="title" style="font-size: {F4.title_font_size}px; line-height:{F4.title_font_size}px; height: {F4.title_font_size}px;">{F4.title}</h2>
                <h3 class="info" style="font-size: {F4.title_font_size}px; line-height:{F4.title_font_size}px; height: {F4.title_font_size}px;">{F4.description}</h3>
                <span class="more button">{F4.button_text}</span>
            </span>
            <img src="{F4.image}" alt="{F4.alternate}" width="{F4.width}" height="{F4.height}">
        </a>
        <a class="block-promo gear-equipment" href="{F5.link}">
            <span class="content">
                <h2 class="title" style="font-size: {F5.title_font_size}px; line-height:{F5.title_font_size}px; height: {F5.title_font_size}px;">{F5.title}</h2>
                <h3 class="info" style="font-size: {F5.title_font_size}px; line-height:{F5.title_font_size}px; height: {F5.title_font_size}px;">{F5.description}</h3>
                <span class="more button">{F5.button_text}</span>
            </span>
            <img src="{F5.image}" alt="{F5.alternate}" width="{F5.width}" height="{F5.height}">
        </a>
    </div>
</div>