<div class="blocks-promo theme5">
    <div class="block-promo-wrapper block-promo-2columns">
        <a class="block-promo gear-main" href="{E1.link}">
            <img src="{E1.image}" alt="{E1.alternate}" width="{E1.width}" height="{E1.height}">
            <span class="content">
                <strong class="title" style="font-size: {E1.title_font_size}px;">{E1.title}</strong>
                <span class="info">{E1.description}</span>
                <span class="more button">{E1.button_text}</span>
            </span>
        </a>
        <div class="block-promo gear-small">
            <a class="block-promo gear-fitnes" href="{E2.link}">
                <img src="{E2.image}"  alt="{E2.alternate}" width="{E2.width}" height="{E2.height}">
                <span class="content">
                    <strong class="title"  style="font-size: {E2.title_font_size}px;">{E2.title}</strong>
                    <span class="info">{E2.description}</span>
                    <span class="more button">{E2.button_text}</span>
                </span>
            </a>
            <a class="block-promo gear-equipment" href="{E3.link}">
                <img src="{E3.image}" alt="{E3.alternate}"  width="{E3.width}" height="{E3.height}">
                <span class="content">
                    <strong class="title" style="font-size: {E3.title_font_size}px;">{E3.title}</strong>
                    <span class="info">{E3.description}</span>
                    <span class="more button">{E3.button_text}</span>
                </span>
            </a>
        </div>
    </div>
    <div class="block-promo-wrapper block-promo-2columns">
        <a class="block-promo gear-fitnes" href="{E4.link}">
            <img src="{E4.image}" alt="{E4.alternate}" width="{E4.width}" height="{E4.height}">
            <span class="content">
                <strong class="title"  style="font-size: {E4.title_font_size}px;">{E4.title}</strong>
                <span class="info">{E4.description}</span>
                <span class="more button">{E4.button_text}</span>
            </span>
        </a>
        <a class="block-promo gear-equipment" href="{E5.link}">
            <img src="{E5.image}" alt="{E5.alternate}" width="{E5.width}" height="{E5.height}">
            <span class="content">
                <strong class="title"  style="font-size: {E5.title_font_size}px;">{E5.title}</strong>
                <span class="info">{E5.description}</span>
                <span class="more button">{E5.button_text}</span>
            </span>
        </a>
    </div>
</div>