<div class="theme theme1">
    <section class="amtheme-secondary-banner amtheme-section-block">

        <div class="amtheme-banner -carousel">
            <div class="amtheme-images-carousel amtheme-slick-slide">
                <div class="amtheme-slide"><a href="{A1.link}"> <img class="amtheme-image" src="{A1.image}" alt="{A1.alternate}" width="{A1.width}" height="{A1.height}"> </a></div>
            </div>
        </div>
        <div class="amtheme-banner -static">
            <div class="amtheme-banner-item">
                <a class="amtheme-wrapper-link" title="{A2.title}" role="presentation" href="{A2.link}" target="{A1.target}" aria-label="{A2.title}">
                    <picture class="amtheme-image"> <source srcset="{A2.image}, {A2.image}"> <img src="{A2.image}" alt="{A2.alternate}" width="{A2.width}" height="{A2.height}">
                    </picture>
                </a>
            </div>

        </div>
    </section>
</div>