<div class="theme theme7">
    <section class="amtheme-secondary-banner amtheme-section-block">

        <div class="amtheme-banner banners-in-row">
            <div class="amtheme-banner-item">
                <a class="amtheme-wrapper-link" title="{G1.title}" role="presentation" href="{G1.link}" aria-label="{G2.alternate}">
                    <picture class="amtheme-image"> <source srcset="{G1.image}, {G1.image} 2x"> <img src="{G1.image}" alt="{G1.alternate}" width="{G1.width}" height="{G1.height}">
                    </picture>
                    <span class="content">
                        <strong class="title"  style="font-size: {G1.title_font_size}px;">{G1.title}</strong>
                        <span class="info">{G1.description}</span>
                        <span class="more button">{G1.button_text}</span>
                    </span>
                </a>
            </div>
        </div>
    </section>
</div>