<div class="theme theme2">
    <section class="amtheme-secondary-banner amtheme-section-block">
        <div class="amtheme-banner -carousel">
            <div class="amtheme-images-carousel amtheme-slick-slide">
                <div class="amtheme-slide">
                    <a href="{B1.link}">
                        <img class="amtheme-image" src="{B1.image}" alt="{B1.alternate}" width="{B1.width}" height="{B1.height}">
                    </a>
                </div>
            </div>
        </div>
        <div class="amtheme-banner -static">
            <div class="amtheme-banner-item full">
                <a class="amtheme-wrapper-link" title="{B2.title}" role="presentation" href="{B2.link}" target="{B2.target}" aria-label="{B2.title}">
                    <picture class="amtheme-image"> <source srcset="{B2.image}, {B2.image}">
                        <img src="{B2.image}" alt="{B2.alternate}"  width="{B2.width}" height="{B2.height}">
                    </picture>
                </a>
            </div>
            <div class="shared-banners">
                <div class="amtheme-banner-item shared">
                    <a class="amtheme-wrapper-link" title="{B3.title}" role="presentation" href="{B3.link}" target="{B3.target}" aria-label="{B3.title}">
                        <picture class="amtheme-image"> <source srcset="{B3.image}, {B3.image}">
                            <img src="{B3.image}" alt="{B3.alternate}"  width="{B3.width}" height="{B3.height}">
                        </picture>
                    </a>
                </div>
                <div class="amtheme-banner-item shared">
                    <a class="amtheme-wrapper-link" title="{B4.title}" role="presentation" href="{B4.link}" target="{B4.target}" aria-label="{B4.title}">
                        <picture class="amtheme-image"> <source srcset="{B4.image}, {B4.image}">
                            <img src="{B4.image}" alt="{B4.alternate}"  width="{B4.width}" height="{B4.height}">
                        </picture>
                    </a>
                </div>
            </div>
        </div>

    </section>
</div>