<div class="theme theme3">
    <section class="amtheme-secondary-banner amtheme-section-block">
        <div class="amtheme-banner -carousel">
            <div class="amtheme-images-carousel amtheme-slick-slide">
                <div class="amtheme-slide"><a href="{C1.link}"> <img class="amtheme-image" src="{C1.image}" alt="{C1.alternate}"  width="{C1.width}" height="{C1.height}"> </a></div>
            </div>
        </div>
        <div class="amtheme-banner -static">
            <div class="amtheme-banner-item">
                <a class="amtheme-wrapper-link" title="{C2.title}" role="presentation" href="{C2.link}" aria-label="{C2.alternate}">
                    <picture class="amtheme-image"> <source srcset="{C2.image}, {C2.image} 2x"> <img src="{C2.image}" alt="{C2.alternate}"  width="{C2.width}" height="{C2.height}">
                    </picture>
                </a>
            </div>
            <div class="amtheme-banner-item">
                <a class="amtheme-wrapper-link" title="{C3.title}" role="presentation" href="{C3.link}" aria-label="{C3.alternate}">
                    <picture class="amtheme-image"> <source srcset="{C3.image}, {C3.image} 2x">
                        <img src="{C3.image}" alt="{C3.alternate}"  width="{C3.width}" height="{C3.height}">
                    </picture>
                </a>
            </div>
            <div class="amtheme-banner-item">
                <a class="amtheme-wrapper-link" title="{C4.title}" role="presentation" href="{C4.link}" aria-label="{C4.alternate}">
                    <picture class="amtheme-image">
                        <source srcset="{C4.image}, {C4.image} 2x">
                        <img src="{C4.image}" alt="{C4.alternate}"  width="{C4.width}" height="{C4.height}">
                    </picture>
                </a>
            </div>
        </div>
    </section>
</div>