<div class="theme theme4">
    <section class="amtheme-secondary-banner amtheme-section-block">

        <div class="amtheme-banner banners-in-row">
            <div class="amtheme-banner-item">
                <a class="amtheme-wrapper-link" title="{D1.title}" role="presentation" href="{D1.link}" aria-label="{C2.alternate}">
                    <picture class="amtheme-image"> <source srcset="{D1.image}, {D1.image} 2x"> <img src="{D1.image}" alt="{D1.alternate}"  width="{D1.width}" height="{D1.height}">
                    </picture>
                    <span class="content">
                        <strong class="title"  style="font-size: {D1.title_font_size}px;  color: {D1.page_color_title};">{D1.title}</strong>
                        <span class="info" style=" color: {D1.page_color_title};">{D1.description}</span>
                        <span class="more button">{D1.button_text}</span>
                    </span>
                </a>
            </div>
            <div class="amtheme-banner-item">
                <a class="amtheme-wrapper-link" title="{D2.title}" role="presentation" href="{D2.link}" aria-label="{D2.alternate}">
                    <picture class="amtheme-image"> <source srcset="{D2.image}, {D2.image} 2x">
                        <img src="{D2.image}" alt="{D2.alternate}" width="{D2.width}" height="{D2.height}">
                    </picture>
                    <span class="content">
                        <strong class="title"  style="font-size: {D2.title_font_size}px;  color: {D2.page_color_title};">{D2.title}</strong>
                        <span class="info" style=" color: {D2.page_color_title};">{D2.description}</span>
                        <span class="more button">{D2.button_text}</span>
                    </span>
                </a>
            </div>
            <div class="amtheme-banner-item">
                <a class="amtheme-wrapper-link" title="{D3.title}" role="presentation" href="{D3.link}" aria-label="{D3.alternate}">
                    <picture class="amtheme-image">
                        <source srcset="{D3.image}, {D3.image} 2x">
                        <img src="{D3.image}" alt="{D3.alternate}" width="{D3.width}" height="{D3.height}">
                    </picture>
                    <span class="content">
                        <strong class="title"  style="font-size: {D3.title_font_size}px;  color: {D3.page_color_title};">{D3.title}</strong>
                        <span class="info" class="title"  style=" color: {D3.page_color_title};">{D3.description}</span>
                        <span class="more button">{D3.button_text}</span>
                    </span>
                </a>
            </div>
        </div>
    </section>
</div>

<script>
    require([
        'jquery',
    ], function ($) {
        'use strict';
        $(document).ready(function () {

            $(".title").each(function (index) {
                if (!$.trim($(this).html())) {
                    $(this).parent().hide();
                }
            });
        });
    });
</script>