<?php    $items = $block->getItems('H2') ?>
<div class="theme theme8">
    <section class="amtheme-secondary-banner amtheme-section-block">


        <div class="amtheme-banner-item">
            <a class="amtheme-wrapper-link {H1.description}" title="{H1.title}" role="presentation" href="{H1.link}" aria-label="{H1.alternate}">
                <picture class="amtheme-image"> <source srcset="{H1.image}, {H1.image} 2x">
                    <img src="{H1.image}" alt="{H1.alternate}" width="{H1.width}" height="{H1.height}">
                </picture>
            </a>
        </div>
        <div class="amtheme-banner -carousel">
            <ul class="amtheme-images-carousel amtheme-slick-slider"
                data-mage-init='{"slickSlider":{
                            "sliderOptions": {
                                "slidesToShow": 1,
                                "slidesToScroll": 1,
                                "infinite": true,
                                "dots": true,
                                "arrows": false,
                                "autoplay": true,
                                "autoplaySpeed": 3000
                            }
                        }}'>
                <?php
                if ($items = $block->getItems('H2')){
                    foreach ($items as $item) {
                    if ($item['is_video']) continue; ?>
                    <li class="amtheme-slide">
                        <a target="<?= $item['target']; ?>"
                           href="<?= $item['link']; ?>">
                            <img class="amtheme-image"
                                 src="<?= $item['image']; ?>"
                                 alt="<?= $item['alternate']; ?>"
                                 width="<?= $item['width']; ?>"
                                 height="<?= $item['height']; ?>"

                            >
                        </a>
                    </li>
                <?php }} ?>
            </ul>
        </div>
        <div class="amtheme-banner-item">
            <a class="amtheme-wrapper-link" title="{H3.title}" role="presentation" href="{H3.link}" aria-label="{H3.alternate}">
                <picture class="amtheme-image"> <source srcset="{H3.image}, {H3.image} 2x">
                    <img src="{H3.image}" alt="{H3.alternate}"  width="{H3.width}" height="{H3.height}">
                </picture>
            </a>
        </div>

    </section>
</div>
