<?php
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$storeID       = $storeManager->getStore()->getStoreId();
$helper = $this->helper('Kowal\Banner\Helper\Data');
$theme = $helper->getGeneralCfg('theme', $storeID);
 ?>

    <?php if($theme === 'Szablon 1'){ ?>
        <div class="theme theme1">
            <section class="amtheme-secondary-banner amtheme-section-block">

                <div class="amtheme-banner -carousel">
                    <ul class="amtheme-images-carousel amtheme-slick-slide">
                        <li class="amtheme-slide"><a href="{A1.link}"> <img class="amtheme-image" src="{A1.image}" alt="{A1.alternate}"> </a></li>
                    </ul>
                </div>
                <div class="amtheme-banner -static">
                    <div class="amtheme-banner-item">
                        <a class="amtheme-wrapper-link" title="{A2.title}" role="presentation" href="{A2.link}" target="{A1.target}" aria-label="{A2.title}">
                            <picture class="amtheme-image"> <source srcset="{A2.image}, {A2.image}"> <img src="{A2.image}" alt="{A2.alternate}">
                            </picture>
                        </a>
                    </div>
                    <div class="amtheme-banner-item -with-text">
                        <picture class="amtheme-image">
                            <source srcset="{A3.image}, {A3.image} 2x"> <img src="{A3.image}" alt="secondary banner">
                        </picture>
                        <div class="amtheme-content"><span class="amtheme-title" style="font-size: {A3.title_font_size}px;">{A3.title}</span>
                            <p class="amtheme-description">{A3.description}</p>
                            <a class="action outline -with-icon" title="{A3.button_text}" href="{A3.link}" target="{A3.target}" aria-label="{A3.alternate}">
                                <span class="amtheme-text">{A3.button_text}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <?php } else if($theme === 'Szablon 2') { ?>
    <div class="theme theme2">
        <section class="amtheme-secondary-banner amtheme-section-block">
            <div class="amtheme-banner -carousel">
                <ul class="amtheme-images-carousel amtheme-slick-slide">
                    <li class="amtheme-slide"><a href="{B1.link}"> <img class="amtheme-image" src="{B1.image}" alt="{B1.alternate}"> </a></li>
                </ul>
            </div>
            <div class="amtheme-banner -static">
                <div class="amtheme-banner-item full">
                    <a class="amtheme-wrapper-link" title="{B2.title}" role="presentation" href="{B2.link}" target="{B2.target}" aria-label="{B2.title}">
                        <picture class="amtheme-image"> <source srcset="{B2.image}, {B2.image}">
                            <img src="{B2.image}" alt="{B2.alternate}">
                        </picture>
                    </a>
                </div>
                <div class="shared-banners">
                    <div class="amtheme-banner-item shared">
                        <a class="amtheme-wrapper-link" title="{B3.title}" role="presentation" href="{B3.link}" target="{B3.target}" aria-label="{B3.title}">
                            <picture class="amtheme-image"> <source srcset="{B3.image}, {B3.image}">
                                <img src="{B3.image}" alt="{B3.alternate}">
                            </picture>
                        </a>
                    </div>
                    <div class="amtheme-banner-item shared">
                        <a class="amtheme-wrapper-link" title="{B4.title}" role="presentation" href="{B4.link}" target="{B4.target}" aria-label="{B4.title}">
                            <picture class="amtheme-image"> <source srcset="{B4.image}, {B4.image}">
                                <img src="{B4.image}" alt="{B4.alternate}">
                            </picture>
                        </a>
                    </div>
            </div>
            </div>

        </section>
    </div>
    <?php } else if($theme === 'Szablon 3'){?>
<div class="theme theme3">
            <section class="amtheme-secondary-banner amtheme-section-block">
                <div class="amtheme-banner -carousel">
                    <ul class="amtheme-images-carousel amtheme-slick-slide">
                        <li class="amtheme-slide"><a href="{C1.link}"> <img class="amtheme-image" src="{C1.image}" alt="{C1.alternate}"> </a></li>
                    </ul>
                </div>
        <div class="amtheme-banner -static">
            <div class="amtheme-banner-item">
                <a class="amtheme-wrapper-link" title="{C2.title}" role="presentation" href="{C2.link}" aria-label="{C2.alternate}">
                    <picture class="amtheme-image"> <source srcset="{C2.image}, {C2.image} 2x"> <img src="{C2.image}" alt="{C2.alternate}">
                    </picture>
                </a>
            </div>
            <div class="amtheme-banner-item">
                <a class="amtheme-wrapper-link" title="See the category" role="presentation" href="{C3.link}" aria-label="{C3.alternate}">
                    <picture class="amtheme-image"> <source srcset="{C3.image}, {C3.image} 2x">
                        <img src="{C3.image}" alt="{C3.alternate}">
                    </picture>
                </a>
            </div>
            <div class="amtheme-banner-item">
                <a class="amtheme-wrapper-link" title="See the category" role="presentation" href="{C4.link}" aria-label="{C4.alternate}">
                    <picture class="amtheme-image">
                        <source srcset="{C4.image}, {C4.image} 2x">
                        <img src="{C4.image}" alt="{C4.alternate}">
                    </picture>
                </a>
            </div>
        </div>
            </section>
</div>
<?php } ?>


